#root {
  max-width: 1250px;
  padding: 2rem;
  text-align: center;
}

.app {
  display: grid;
  grid-template-areas:
  "header"
  "evidence-filter"
  "ghosts-container";
  grid-template-rows: 1fr auto;
}

.evidence-filter-container {
  display: flex;
}

.evidence-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: evidence-filter;
  margin-bottom: 1rem;
}

.ghosts-container {
  display: grid;
  grid-area: ghosts-container;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
}

.ghost-card {
  display: grid;
  border: 1px solid grey;
  grid-gap: 1em;
  grid-template-areas:
  "info attributes";
  grid-template-columns: 1fr 2fr;
  height: 170px;
  padding: 4px;
  text-align: left;
}

.ghost-card__attributes {
  font-size: 12px;
  grid-area: attributes;
  height: auto;

  .strengths {
    color: lightgreen;
  }

  .weaknesses {
    color: red;
  }
}

.ghost-card__attributes p {
  margin: 0.3rem;
}

.ghost-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: info;
}

.ghost-card__info h3 {
  margin-top: 0;
}

.ghost-card__info p {
  margin-bottom: 0;
}

.ghost-card__sanity {
  font-size: 14px;
}

.header {
  grid-area: header;
  margin: 1rem 0;
}

.indeterminate-checkbox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
