#root {
  text-align: center;
  max-width: 1250px;
  width: 100vw;
  user-select: none;
}

.app {
  display: grid;
  grid-template-areas:
  "header"
  "container";
}

section {
  display: grid;
  grid-area: container;
  grid-template-areas:
  "evidence ghosts";
}

.evidence {
  display: flex;
  flex-direction: column;
}

.evidence__highlight {
  background-color: yellow;
  height: 2px;
  margin-top: 4px;
}

.evidence-filter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-area: evidence;
}

.ghosts-container {
  display: grid;
  grid-area: ghosts;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  padding: 24px;
}

.ghost-card {
  display: grid;
  border: 1px solid grey;
  cursor: pointer;
  grid-gap: 1em;
  grid-template-areas:
  "info attributes";
  grid-template-columns: 1fr 2fr;
  height: 170px;
  padding: 4px;
  text-align: left;

  &.rejected {
    background-color: #202120;
    text-decoration: line-through;
  }
}

.ghost-card__attributes {
  font-size: 12px;
  grid-area: attributes;
  height: auto;

  .strengths {
    color: lightgreen;
  }

  .weaknesses {
    color: orange;
  }
}

.ghost-card__attributes {
  overflow-y: scroll;
  text-wrap: wrap;
}

.ghost-card__attributes p {
  margin: 0.3rem;
}

.ghost-card__evidences {
  display: flex;
}

.ghost-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: info;
}

.ghost-card__info h3 {
  margin-top: 0;
}

.ghost-card__info p {
  margin-bottom: 0;
}

.ghost-card__sanity {
  font-size: 14px;
}

header {
  display: inline-flex;
  grid-area: header;
  justify-content: center;
}

header h1 {
  cursor: pointer;
  margin: 1rem 0;
}

.indeterminate-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indeterminate-checkbox input,
.indeterminate-checkbox input + .evidence {
  margin-right: 8px;
}
